:host {
  position: absolute;
  bottom: 1rem;
  background-color: var(--first-color-lighten2);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(192, 167, 222, 0.2);
  animation-duration: 0.4s;
  animation-name: animate-login;
  left: -11rem;
  @keyframes animate-login {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
.login__signin {
  cursor: pointer;
  color: var(--first-color);
  &:hover {
    opacity: 0.5;
  }
}
p {
  color: var(--first-color);
}
