<form [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()">
       <h3>Reset Password</h3>
       <p>Please enter your email address to request a password reset.</p>
       <app-text-control-with-icon formControlName="email"
                                   placeholder="Email"> <i class='bx bx-at control-icon'></i>
       </app-text-control-with-icon>
       <app-button behaviorType="submit">Reset Password</app-button>
</form>
<div>
       <span class="login__signin"
             (click)="goToSignIn()">sign in</span>
</div>